<!-- mysite/templates/contact.html -->

{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="hero is-white is-fullheight-with-navbar">
  <!-- <div class="hero"> -->
    <div class="container">
      <!-- <div class="columns is-mobile is-centered">
        <div class="column is-half is-vcentered"> -->
          <!-- <div class="control"> -->
            <form class="box" action="/contact.html" method="post">
              {% csrf_token %}
              {% for field in form %}
              {{ field }} <br><br>
              {% endfor %}

              {% if messages %}

              {% for message in messages %}

              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              <article class="message is-success">
                <div class="message-body">
                  {{message}}
                </div>
              </article>
              {% endif %}

              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <article class="message is-danger">
                <div class="message-body">
                  {{message}}
                </div>
              </article>
              {% endif %}

              {% endfor %}

              {% endif %}


              <button class="button is-outlined" type="submit" value="Submit">Submit</button>
            </form>
          <!-- </div>
        </div>
      </div> -->



      <!-- <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
          </tr>
        </thead>
        {% for contact in contacts %}
        <tr>
          <td> {{ contact.name }} </td>
          <td> {{ contact.email }} </td>
          <td> {{ contact.message }} </td>
        </tr>
        {% endfor %}
        </tbody>
      </table> -->

    </div>
  <!-- </div> -->
</section>

{% endblock %}