<!-- mysite/templates/contact.html -->

{% extends "base.html" %}
{% load static %}
{% block title %}Kari Sakib | Data Scientist{% endblock %}

{% block content %}

<div class="row">
    <div class="col span-1-of-4">
    
        <table>
            <tr>
                <th>email</th>
                <th>message</th>
            </tr>
        {% for contact in contacts %}
            <tr>
                <td> {{ contact.email }} </td>
                <td> {{ contact.message }} </td>
            </tr>
        
        {% endfor %}
        
        </table>
        
        <form action="/contact.html" method="post">
            {% csrf_token %}
            {{ form }}
        
            <input type="submit" value="Submit">
        
        </form>
    </div>
</div>

{% endblock %}