<!-- mysite/templates/two.html -->

{% extends "base.html" %}

{% block title %}Kari Sakib | Experience{% endblock %}

{% block content %}

<section class="section-about-me" id="aboutme">
    <div class="row">
      <h2>My experience</h2>
    </div>
  
    <div class="row">
      <div class="one-half column">
        <h5>Data Science Fellow, Innovation Fellowship, TKH</h5>
        <h6>09/2020 – present</h6>
        <ul>
          <li>Enhance tech skills in Python and Data Science by participating in a competitive, project-based 9-
            month fellowship with 100+ hours of technology and professional development instruction.</li>
          <li>Collaborate with TKH staff and 40+ fellows in order to deliver virtual presentations of final
            projects to tech professionals, funders, and community stakeholders.</li>
          <li>Receive one on one mentoring with industry professionals and improve upon career development and
            project management skills.</li>
        </ul>
      </div>
      <div class="one-half column">
        <h5>Data Analyst Intern, NYC Department of Health & Mental Hygiene</h5>
        <h6>02/2021 – present</h6>
        <ul>
          <li>Use Python to clean up 1000+ rows of dirty data from Excel sheets, performing analysis and compare datasets to ensure data integrity remains for the overall accuracy of assignment.</li>
          <li>Perform verification by comparing pulled data to source documents, reviewing and updating existing data and ensure information is easily accessible through a digital database.</li>
          <li>Run SQL queries through tables and database to pull data out to perform deeper analysis.</li>
          <li>Review and analysis of datasets to identify opportunities to improve existing workflows and processes.</li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="one-half column">
        <h5>College Assistant, CUNY City College</h5>
        <h6>12/2019 – present</h6>
        <ul>
          <li>Create, modify, graph, and manipulate Excel worksheets with given data off student records and create statistical models.
          </li>
          <li>Enter and maintain departmental records such as inventory control records, rosters, directories and schedules.</li>
          <li>Assists in statistical or research activities. May collect and compile data, code data for computer entry, perform data entry, and run computer reports.
          </li>
          <li>Applied departmental solutions for damaged equipment adhering to IT Department policies.</li>
        </ul>
      </div>
      <div class="one-half column">
        <h5>Assistant Head Teacher, theAbrar INC.</h5>
        <h6>08/2018 – 03/2020</h6>
        <ul>
          <li>Developed compilation of coursework while observing and evaluating performance and development of
            the
            general student body.</li>
          <li>Instructed and tutored children ranging from ages 4 - 6 using assistive technology in order to boost
            class
            participation.</li>
          <li>Encouraged student behavior in the classroom by establishing and enforcing institution’s policies
            and
            procedures.</li>
          <li>Managed and taught classrooms while adhering to policies and procedures.</li>
        </ul>
      </div>
    </div>

{% endblock %}