<!-- mysite/templates/hobbies.html -->

{% extends "base.html" %}
{% load static %}
{% block title %}Kari Sakib | Data Scientist{% endblock %}

{% block content %}
<div class="row">

  <p>Doing the same thing over and over again can get boring. So here are some of the things I do to make sure I'm
    always up to something instead of letting a third of my body hand from the edge of my bed.</p>
  <ul>
    <li>Hitting the Gym</li>
    <ul>
      <li>The gym is something I can't seem to live without. I need to hit that heavy squat or deadlift every once in a
        while. By the nature of my workouts, I fall into the category of Powerlifters, a group of people who train theor
        body moreso for overall strength gains as opposed to aesthetics. We can always diet and go on a cut later on
        once we hit PR numbers, but how does one really stand out at the gym? Be 145 pounds and squat more than 2x your
        bodyweight is how. There is a common saying in powerlifting and that is: "You're not strong unless you can bench
        2x your bodyweight, squat 3x your bodyweight, and deadligt 4x your bodyweight. Alternative you can also throw in
        an overhead press in that statement: "Overhead press 1x your bodyweight" I have yet to hit my PR goals and may
        take me a few years. Injuries have set me back before but that wont stop me.</li>
      <li><a href="https://powerliftingtechnique.com/what-is-powerlifting/">Here is a great introduction to
          Powerlifting</a></li>
    </ul>
    <li>Working on my car</li>
    <ul>
      <li>
        Ever since I got my first car, I've become a car enthusiast. Although I have a European car, my love for JDM
        trumphs my love for my car now. Ass a matter of fact, my dream car is the Nissan Skyline R34 GTR alongside the
        Toyota MK4 Supra. These two cars have wonderful engines and sounds that comes from the enginebay after attaching
        turbochargers is like music to my ears. "STUSTUSTUSTUSU". Put that into google and all you'll find are youtube
        compilation videos on JDM cars and their turbo sounds.</li>
      <li><a href="https://www.youtube.com/watch?v=q0IIaTuA_zA">Here's how a GTR with turbos sound</a></li>
      <li><a href="https://www.youtube.com/watch?v=ExoaN1M2GFI">Here's are some Supra's spitting</a></li>
    </ul>
    <li>Programming and Projects</li>
    <ul>
      <li>I love to challenge and push myself and love to see where I land afterwards. I follow some subreddits like
        r/Python and r/Reactjs and see people posting really cool projects they've built up on their spare time. Seeing
        that always inspires me to build something of that caliber. I often find myself in a loop where I want to build
        something but it's something commonly developed. I like to build something unique and things that have not
        beenthought of by others. It gives me an edge against my competition in the tech sector when finding a job while
        also challenging me to be creative.</li>
    </ul>
    <li>Going out to eat with the boys</li>
    <ul>
      <li>Man do I love food... Burgers, fries, bubble tea is what I always get when I go out to get Tallgrass Burgers.
        Sometime's I just can't resis the flavor to the point I find myself stuck in traffic for 45 minutes just to have
        a bite of these burgers. I also love soft chewy cookies, cheesecake, and much more. I think I spend too much on
        food sometimes but it is always worth it.</li>
      <li><a href="http://tallgrassburgers.com"></a>Tallgrass Burgers if you're ever in the area</li>
    </ul>
    <li>Party Chat/ Call of Duty on PS4</li>
    <ul>
      <li>"YOOOOOOOOOOOOOOOOOOOOOOOO" is the first thing I say everytime I enter Party Chat. It's really become
        trademarked at this point. Sometimes even before saying anything, the boys are already replying to my
        trademarked phrase.</li>
    </ul>
  </ul>
</div>

{% endblock %}