<!-- mysite/templates/index.html -->

{% extends "base.html" %}
{% load static %}
{% block title %}Kari Sakib | Data Scientist{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'test.css' %}">
{% endblock %}

{% block content %}
<h1>Home</h1>

{% with name="Kari Sakib"%}
<p>My name is {{ name }}. Thanks for visiting my site.</p>
{% endwith %}

<section class="section-about-me" id="aboutme">
  <div class="row">
    <h2>My experience</h2>
  </div>

  <div class="row">
    <div class="col span-1-of-4">
      <h3>Data Science Fellow, Innovation Fellowship, TKH</h3>
      <h4>09/2020 – present</h4>
      <ul>
        <li>Enhance tech skills in Python and Data Science by participating in a competitive, project-based 9-
          month fellowship with 100+ hours of technology and professional development instruction.</li>
        <li>Collaborate with TKH staff and 40+ fellows in order to deliver virtual presentations of final
          projects to tech professionals, funders, and community stakeholders.</li>
        <li>Receive one on one mentoring with industry professionals and improve upon career development and
          project management skills.</li>
      </ul>
    </div>

    <div class="col span-1-of-4">
      <h3>NYC DOE, RFCUNY IT/Tech Intern (Let go due to Covid)</h3>
      <h4>02/2020 – 03/2020</h4>
      <ul>
        <li>Setting up computer equipment in classrooms and offices while providing assistance in use of
          technology
          equipment.</li>
        <li>Ensuring equipment such as projectors and audio/video equipment are functioning properly.</li>
        <li>Troubleshooting hardware and software problems in conjunction with DOE assistance.</li>
        <li>Configuring wireless devices in order to access DOE school network.</li>
        <li>Maintaining technology equipment inventory and records Monitoring equipment and working with Help
          Center
          to ensure timely repair.</li>
      </ul>
    </div>

    <div class="col span-1-of-4">
      <h3>theAbrar INC., Assistant Head Teacher</h3>
      <h4>08/2018 – 03/2020</h4>
      <ul>
        <li>Developed compilation of coursework while observing and evaluating performance and development of
          the
          general student body.</li>
        <li>Instructed and tutored children ranging from ages 4 - 6 using assistive technology in order to boost
          class
          participation.</li>
        <li>Encouraged student behavior in the classroom by establishing and enforcing institution’s policies
          and
          procedures.</li>
        <li>Managed and taught classrooms while adhering to policies and procedures.</li>
      </ul>
    </div>

    <div class="col span-1-of-4">
      <h3>CUNY City College, IT Tech Assistant</h3>
      <h4>02/2018 – 05/2018</h4>
      <ul>
        <li>Conducted equipment maintenance on older hardware resulting in higher success rates in system
          start-ups.
        </li>
        <li>Assisted campus faculty and professors in classrooms with basic technological needs and instructions
          in an
          orderly manner for a more smooth teaching experience.</li>
        <li>Performed on-site diagnostic, analysis, troubleshooting for PC and MAC based equipment allowing
          students
          and faculty access to better equipment.
        </li>
        <li>Applied departmental solutions for damaged equipment adhering to IT Department policies.</li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}