<!-- mysite/templates/login.html -->

{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col span-1-of-4">
        <p>Number of rows in DB at the moment: {{ cars|length }}</p>
        <ul>
            {% for car in cars %}
            <li>{{ car.id }}, {{ car.make }}, {{ car.trim }}, {{ car.color }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for stat in stats %}
            <li>{{ stat.car.id }}, {{ stat.horsepower }}, {{ stat.torque }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}