<!-- mysite/templates/one.html -->

{% extends "base.html" %}

{% block title %}Kari Sakib | Skills{% endblock %}

{% block content %}

<section class="section-projects" id="projects">
  <div class="row">
    <h2>Here's some of my work.</h2>
  </div>

  <div class="row">
    <div class="col span-1-of-2">
      <h3>PORTFOLIO SITE</h3>
      <a href="#" class="weblink">Portfolio &nbsp; &rarr;</a>
      <p>
        As you can see, this is one of the first projects I have built using
        the fundamentals of Web Development. Implemented CSS pseudo classes
        into the mix to spice up the look.
      </p>
    </div>

    <div class="col span-1-of-2">
      <h3>Prometheus Aesthetics</h3>
      <a href="https://adoring-sammet-751045.netlify.com" class="weblink">Get in shape! &nbsp; &rarr;</a>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
        maxime quos doloremque similique. Minus provident dolores, amet
        enim, adipisci, exercitationem assumenda maiores modi obcaecati odio
        labore alias reiciendis tenetur consequuntur!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col span-1-of-2">
      <h3>Two Player Dice Roll Game</h3>
      <a href="https://wizardly-wescoff-b320ef.netlify.com" class="weblink">Roll those Dice! &nbsp; &rarr;</a>
      <p>
        Sometimes we just don’t carry dice with us everywhere we go. So why
        not make and app that rolls for us on demand? Most of the app
        consists of DOM traversing with JavaScript.
      </p>
    </div>

    <div class="col span-1-of-2">
      <h3>THE SUPER SIMPLE CALCULATOR</h3>
      <a href="#" class="weblink">Coming Soon... &nbsp; &rarr;</a>
      <p>
        Who needs buttons when you have selectors am I right?? This
        calculator is another simple app made by traversing the DOM and
        taking in user input. Additional features coming soon!
      </p>
    </div>
  </div>
</section>

<section class="section-skills" id="skills">
    <div class="row">
      <h2>Some of my skills</h2>
    </div>
  
    <div class="row">
      <div class="col span-1-of-4">
        <ul>
          {% for skill in skills_list %}
          <li>{{ skill }}</li>
          {% endfor %}
        </ul>
      </div>
  
    </div>
  </section>

{% endblock %}