<!-- mysite/templates/one.html -->

{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero is-white is-fullheight-with-navbar">
  <br>
  <div class="container">
    <h1 class="title">Skills</h1>

    {% for skill in skills_list %}
    <span class="tag is-info is-light">{{ skill }}</span>
    {% endfor %}
    <br><br>

    <h1 class="title">Projects</h1>
    <div class="tile is-ancestor">
      <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title">One</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
        <div class="tile is-child box">
          <p class="title">Two</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
      </div>
      <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title">One</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
        <div class="tile is-child box">
          <p class="title">Two</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Three</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
          <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
          <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
        </div>
      </div>
    </div>

  </div>
</section>


<!-- <section class="section-projects" id="projects">
  <div class="row">
    <h2>Here's some of my work.</h2>
  </div>

  <div class="row">
    <div class="col span-1-of-2">
      <h3>PORTFOLIO SITE</h3>
      <a href="#" class="weblink">Portfolio &nbsp; &rarr;</a>
      <p>
        As you can see, this is one of the first projects I have built using
        the fundamentals of Web Development. Implemented CSS pseudo classes
        into the mix to spice up the look.
      </p>
    </div>

    <div class="col span-1-of-2">
      <h3>Prometheus Aesthetics</h3>
      <a href="https://adoring-sammet-751045.netlify.com" class="weblink">Get in shape! &nbsp; &rarr;</a>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
        maxime quos doloremque similique. Minus provident dolores, amet
        enim, adipisci, exercitationem assumenda maiores modi obcaecati odio
        labore alias reiciendis tenetur consequuntur!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col span-1-of-2">
      <h3>Two Player Dice Roll Game</h3>
      <a href="https://wizardly-wescoff-b320ef.netlify.com" class="weblink">Roll those Dice! &nbsp; &rarr;</a>
      <p>
        Sometimes we just don’t carry dice with us everywhere we go. So why
        not make and app that rolls for us on demand? Most of the app
        consists of DOM traversing with JavaScript.
      </p>
    </div>

    <div class="col span-1-of-2">
      <h3>THE SUPER SIMPLE CALCULATOR</h3>
      <a href="#" class="weblink">Coming Soon... &nbsp; &rarr;</a>
      <p>
        Who needs buttons when you have selectors am I right?? This
        calculator is another simple app made by traversing the DOM and
        taking in user input. Additional features coming soon!
      </p>
    </div>
  </div>
</section> -->

{% endblock %}